@font-face {
    font-family: 'gilroylight';
    src: url(../fonts/gilroylight-webfont.woff2) format('woff2'),
         url(../fonts/gilroyextrabold-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'gilroyextrabold';
    src: url(../fonts/gilroyextrabold-webfont.woff2) format('woff2');
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'gilroylight', Open Sans, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
    
    background-color: #FFFFFF;
}
.container {
    width: 1160px;
    padding: 0;
    margin: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
    text-decoration: none;
}
/*main-header*/

.main-navigation {
    position: relative;
    background-color: #f7e296;
    width: 100%;
    padding-top: 33px;
    margin-top: 39px;
    z-index: 5;

}
.site-navigation {
    display: flex;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: gilroyextrabold, Open Sans, sans-serif;
    padding: 0 60px;
    padding-bottom: 51px;
    list-style: none;
    margin: 0;
    letter-spacing: 0.2em;
    /*justify-content: space-between;*/
}
.site-navigation-item:last-child {
    margin-right: -6px;
    margin-left: 106px;
}
.site-navigation-item:nth-child(3) {
    margin-left: 34px;
    margin-right: 4px;
}
.site-navigation-item:nth-child(2) {
    margin-left: 302px;
}
    
.site-navigation-item:first-child {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    left: 0;
    display: flex;
    list-style: none;
    text-transform: none;
    font-family: 'gilroylight', Open Sans, sans-serif;
    width: 100%;
    /*flex-direction: column;*/
    padding: 0;
    background-color: #f7e296;
    min-height: 165px;
}
.site-navigation-item:first-child a {
    padding-right: 20px;
    position: relative;
}
.site-navigation a:hover:after {
    opacity: 0.6;
}
.site-navigation a:focus:after {
    opacity: 0.3;
}
.site-navigation a:hover + .dropdown-menu {
    display: flex;
}
.site-navigation-item:first-child > a::after {
    position: absolute;
    bottom: 3px;
    right: -7px;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    
}

.user-navigation {
    font-family: Open Sans, sans-serif;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    list-style: none;
    padding: 0;
    padding-left: 60px;
    padding-right: 59px;
    padding-bottom: 27px;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    align-items: baseline;
}

.user-navigation a {
    padding-left: 21px;
}
.user-navigation li {
    padding: 0;
    margin: 0;
}
.user-navigation a {
   position: relative;
}
.user-navigation-item:nth-child(2) a:before {
   position: absolute;
   bottom: 5px;
   left: -5px;
   content: "";
   width: 12px;
   height: 12px;
   background-image: url(../img/user.svg);
   background-repeat: no-repeat;
   background-size: 12px auto;
}
.user-navigation-item:nth-child(3) a:before {
   position: absolute;
   bottom: 5px;
   left: -3px;
   content: "";
   width: 13px;
   height: 13px;
   background-image: url(../img/compare.svg);
   background-repeat: no-repeat;
   background-size: 13px 13px;
}
.user-navigation-item:last-child a:before {
   position: absolute;
   bottom: 5px;
   left: -1px;
   content: "";
   width: 12px;
   height: 12px;
   background-image: url(../img/cart.svg);
   background-repeat: no-repeat;
   background-size: 12px auto;
}
.user-navigation li:nth-child(1) {
    margin-right: 104px;
}
.user-navigation li:nth-child(2) a{
    margin-right: 214px;
}
.user-navigation li:nth-child(3) {
    margin-right: 36px;
}
.logo {
    position: absolute;
    top: -20px;
    left: 50px;
}
.main-navigation input {
     background-color: transparent;
     font: inherit;
}

input[type="search"]::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.302);
}

input[type="search"]:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}
input[type="search"]:focus {
    border-bottom: 2px solid #000000;
    outline: none;
}

input[type="search"]:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 1);
}

input[type="search"]
 {
    display: inline-block;
    font: inherit;
    border: 2px solid transparent;
    background-color: transparent;
    padding: 0;
    font-size: 15px;
    line-height: 30px; 
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
}
.main-navigation label::after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    top: 18px;
    left: 3px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 18px auto;
}

button[type="submit"] {
    margin-left: -5px;
    display: none;
    font: inherit;
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 15px;
    line-height: 30px; 
    color: #000000;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 19px;

}

button[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
}
button[type="submit"]:focus {
    color: rgba(255, 255, 255, 0.302);
    outline: none;
    background-color: #000000;
    display: inline-block;
} 
input[type="search"]:focus ~ button[type="submit"] {
    border: 2px solid #000000;
    display: inline-block;
}
.user-navigation form {
    width: 441px;
    position: relative;
}



.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:focus,
.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}
/*slider*/
a.slide-btn {
    position: relative;
    display: inline-block;
    width: 220px;
    color: #000000;
    text-transform: uppercase;
    font-family: gilroyextrabold, Open Sans, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
}
a.slide-btn:before {
    content: '';
    position: absolute;
    background-color: #f0c52e;
    width: 220px;
    height: 8px;
    z-index: -1;
    bottom: 8px;
    left: 0;
}
.slide-btn:hover:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    width: 220px;
    height: 40px;
    z-index: -1;
}
.slide-title {
    padding: 0;
    padding-top: 81px;
    padding-bottom: 19px;
    margin: 0;
    font-family: gilroyextrabold, Open Sans, sans-serif;
    font-size: 47px;
    line-height: 56px;
    letter-spacing: 0.01em;
}
.slide-description {
    margin: 0;
    padding: 0;
    padding-bottom: 48px;

}
.radio-item {
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    position:relative;
    width: 12px;
    height: 12px;
    background-image: url(../img/slider-button-empty.svg);
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: center;
    outline: none;
    margin-right: 21px;
}

.radio-item.active {
    background-image: url(../img/slider-button.svg);
}

.slider-item {
    display: none;
}
.slider-list {
    padding: 0;
    margin: 0;
    

}
.slider-list .slider-item:nth-child(1) {
        display: flex;
}

.slider-image {
    padding-left: 90px;
    padding-right: 126px;
    position: relative;
    z-index: 6;
}
.slides-switches {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 240px;
    right: 82px;
    font-size: 0;
}
.slider {
    padding-bottom: 107px;
    position: relative;
    background-image: linear-gradient(#f7e296 19%, #ffffff 19%);
    z-index: 4;

}

/*catalog-categories*/

.categories-name {
    font-size: 18px;
    line-height: 24px;
    font-family: gilroyextrabold, Open Sans, sans-serif;
    color: #000000;
    letter-spacing: 0.01em;
}
.categories-image img {
    margin: auto;
}
.categories-image {
    display: flex;
    width: 160px;
    height: 160px; 
    background-color: #f7e296;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 33px;
    
}
.catalog-categories {
    list-style: none;
    padding: 0;
    margin: 0;
  
    display: flex;
    justify-content: space-between;
}

    .catalog {
    margin-bottom: 81px;
  }

.categories-image:hover {
    background-color: #f0c52e;
}
.categories-image:hover {
    background-color: #f0c52e;
}
.categories-name {
    padding: 0;
    margin: 0;
}
.categories-name {
    padding: 0;
    margin: 0;
}
/*end catalog-categories*/

/*services-list*/
.delivery,
.guarantee,
.loan {
    background-color: #e5e5e5;
}
.services-slider ul {
    padding: 0;
    margin: 0;
}
.services-slider li {
    display: none;
    padding-bottom: 40px;

}
.services-slider li:nth-child(1) {
    display: block;
}
.services-slider li:nth-child(1) {
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 680px 10px;
}
.services-slider li:nth-child(2) {
     background-image: url("img/slide1.png");
     background-repeat: no-repeat;
     background-position: 730px 80px;
}
.services-slider li:nth-child(3) {
     background-image: url("img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.services-slider h3 {
    font-family: gilroyextrabold, Open Sans, sans-serif;
    font-size: 47px;
    line-height: 48px;
    padding: 0;
    padding-bottom: 29px;
    padding-left: 123px;
    margin: 0;
    letter-spacing: 0.01em;
}
.services-slider p {
    font-family: 'Open Sans', sans-serif;
    width: 460px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
    padding: 0;
    padding-left: 123px;
    margin: 0;
}
.services-slider {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 74px;
    padding-bottom: 30px;
    flex-grow: 1;
}
.services-slider:before {
    position: absolute;
    top: 0;
    display: inline-block;
    content: "";
    width: 7px;
    height: 319px;
    background-color: #000000;
}
.services-list { 
    background-image: linear-gradient(#ffffff 26%, #e5e5e5 26%);
    padding-bottom: 73px;
    margin-bottom: 97px;
}
.services-list .container {
        display: flex;
    }
.services-controls {
    width: 278px;
    list-style: none;
    padding: 0;
    padding-top: 80px;
    margin: 0;
}
.services-btn {
    position: relative;
    font-family: gilroyextrabold, Open Sans, sans-serif;
    width: 160px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.2em;
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
    z-index: 1;
    margin: 0;
    margin-bottom: 30px;
}
.services-btn:nth-child(2) {
    margin-bottom: 40px;
}
.services-btn:not(.active):before {
    content: '';
    position: absolute;
    background-color: #f0c52e;
    width: 160px;
    height: 8px;
    z-index: -2;
    left: 00px;
    bottom: 8px;
    padding: 0;
}
.services-btn.active  {
    background-color: #000000;
    color: #f7e184;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 7px;
}
/*end services*/

/*brands-link*/
.brands-link {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: space-between;
}
.brands-link img {
    filter: grayscale(100%);
    opacity: 0.2;
}
.brands-link img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

/*index-columns*/
.about h2,
.contacts h2 {
    font-size: 47px;
    line-height: 48px;
}
.about li {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
}
.index-columns {
    display: flex;
    justify-content: space-between;
}
.about {
    width: 480px;
}
.contacts {
    width: 560px;
}


/*main-footer*/
.main-footer {
    color: #ffffff;
    background-color: #464646;
}
.footer-navigation a {
    color: #ffffff;
}
.footer-center {
  text-align: center;
}

.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

.footer-social ul {
  list-style: none;
}

a.footer-btn{
  color: #ffffff;
}

/*end main-footer*/

/*feedback-form*/


.feedback-form input[type="text"],
.feedback-form input[type="email"],
textarea {
    background-color: #f2f2f2;
    border: 1px solid transparent;
    color: rgba(70, 70, 70, 0.4);
    font-size: 14px;
    line-height: 18px;
    font-family: inherit;
}
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
textarea:hover {
    background-color: #ebebeb;
}
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
textarea:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #f7e296;
    color: #464646;
}
.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid {
    background-color: #f6dada;
    outline: none;
    border: 1px solid #f6dada;
}
/*end feedback-form*/






